apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: mtogo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:18
          env:
            - name: POSTGRES_USER
              value: "mtogo"
            - name: POSTGRES_PASSWORD
              value: "mtogo"
            - name: POSTGRES_DB
              value: "mtogo"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: mtogo
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
